@import "utils";

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  background: $white;
  border-bottom: 2px solid $oc-teal-6;
  @include material-shadow();
  h1 {
    margin-left: 1.5rem;
    @include font-style(1.5rem, $oc-teal-7, bold);
    letter-spacing: 2px;
  }
}
