@import "utils";

.btn-login {
  margin-right: 1.5rem;
  padding: 0.5rem;
  border: 1px solid $oc-cyan-6;
  @include font-style(1.2rem, $oc-cyan-6, 600);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    background: $oc-cyan-6;
    color: $white;
    @include material-shadow();
  }

  &:active {
    transform: translateY(3px);
  }
}
